﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Vista_Select.aspx.cs" Inherits="ConexionSQL.Vista_Select" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:GridView ID="gvPhoneBook" runat="server" AutoGenerateColumns="false">
            <Columns>
                <asp:BoundField DataField="nombre" HeaderText ="nombre" />
                <asp:BoundField DataField="edad" HeaderText ="edad" />
                <asp:BoundField DataField="direccion" HeaderText ="direccion" />
            </Columns>
        </asp:GridView>
    </div>
    </form>
</body>
</html>
